* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
	max-width: 100vw;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.scroll-wrapper {
	position: relative;
	overflow: hidden; /* Hide native scrollbar from affecting layout */
}

.scroll-wrapper > .scroll-content {
	position: relative;
	overflow: auto; /* Enable scrolling inside the content */
}

/* Custom Scrollbar */
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar-thumb {
	background: rgb(172, 172, 172);
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: border-box;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar-track {
	background: #fdf0e1;
}

/* Push scrollbar outside with a negative margin */
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	margin-right: -15px; /* Moves scrollbar completely outside */
}
