* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Initial values for scrollbar colors, then changing in JS, is nice and easy */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(166, 228, 12);
  border-radius: 10px;
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: border-box;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

/* Arrows */
::-webkit-scrollbar-button:single-button {
  background-color: #fff;
  display: block;
  border-style: solid;
  height: 10px;
  width: 10px;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: none;
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  display: none;
}
